@import "tailwindcss";

@font-face {
  font-family: 'Switzer';
  src: url('/src/fonts/Switzer-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Switzer';
  src: url('/src/fonts/Switzer-VariableItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: 'Switzer', sans-serif;
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-900: #0c4a6e;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: var(--font-sans);
  }
}